@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


header {
  font-size: small;
}

p {
  padding: 0;
  margin: 0;
}

menu {
  padding: 0;
}

/*COLOR FONDO NAV LOGO*/
.bgnav {
  background-color: white;
}
/*-------------------------*/


/*NAVBAR PAGINAS*/
.sha {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
}
/*---------------------------*/



/*CARRUSEL DE IMAGENES*/
.carousel-item {
  position: relative; /* Para que la imagen se posicione absolutamente */
  overflow: hidden; /* Ocultamos cualquier parte de la imagen que se salga del contenedor */
  height: 450px; /* O la altura que desees para tu carrusel */
  margin-right: ;
}

.carousel-item::before {
  content: ''; /* Creamos un pseudo-elemento para el fondo */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0); /* Fondo blanco con 20% de opacidad */
  z-index: 1; /* Aseguramos que el fondo esté sobre la imagen, pero debajo del contenido */
}

.carousel-item img {
  width: 100%; /* La imagen ocupa todo el espacio disponible */
  height: 100%; /* La imagen mantiene el tamaño del contenedor */
  object-fit: cover; /* Asegura que la imagen se recorte para cubrir el contenedor sin distorsión */
  position: absolute; /* La imagen se posiciona encima del contenedor */
  top: 0;
  left: 0;
  transition: transform 9s ease-in-out; /* Animación suave para la escala */
}

/* Aplicamos la animación solo a la imagen activa */
.carousel-item.active img {
  animation: growImage 11s ease-in-out infinite; /* Hace crecer solo la imagen */
}

/* Definición de la animación */
@keyframes growImage {
  0% {
    transform: scale(1); /* Tamaño inicial */
  }
  100% {
    transform: scale(1.20); /* Aumenta el tamaño de la imagen */
  }
}

.carousel-item-next img,
.carousel-item-prev img {
  filter: blur(2px); /* Un pequeño desenfoque para las imágenes de transición */
}

/* Estilo para el contenedor de la imagen */
.image-container {
  position: relative; /* Necesario para posicionar correctamente las imágenes */
  height: 100%;
}
/*------------------------------------------------------*/

/*TEXTO BIENVENIDOS*/
/* Estilo para el contenedor del texto */
.carousel-caption-container {
  position: absolute; /* Lo posicionamos de manera absoluta en el carrusel */
  top: 0; /* Asegura que el contenedor cubra todo el alto */
  left: 0; /* Asegura que el contenedor cubra todo el ancho */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%; /* Asegura que el contenedor ocupe todo el alto */
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 2; /* Asegura que el texto quede por encima de las imágenes */
  pointer-events: none; /* Evita que el texto interfiera con la interacción con el carrusel */
}
/* Estilo para el texto */
.carousel-caption {
  top: 0; /* Asegura que el contenedor cubra todo el alto */
  left: 0; /* Asegura que el contenedor cubra todo el ancho */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%; /* Asegura que el contenedor ocupe todo el alto */
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  color: white; /* Color del texto */
  font-size: 8vw; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para mejorar visibilidad */
}
/*-------------------------------------------------------------------*/


/* BOTON DE WHATSAPP*/
/* Estilo para el botón flotante de WhatsApp */
.whatsapp-btn {
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 40px; /* Distancia desde el fondo */
  right: 20px; /* Distancia desde el lado derecho */
  width: 60px; /* Tamaño del botón */
  height: 60px; /* Tamaño del botón */
  border-radius: 50%; /* Hacerlo redondo */
  background-color: #25d366; /* Fondo verde de WhatsApp */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle efecto de flotante */
  z-index: 1000; /* Asegura que el botón siempre esté encima de otros elementos */
  transition: all 0.3s ease; /* Suaviza las transiciones */
}
.whatsapp-icon {
  width: 30px; /* Tamaño del icono de WhatsApp */
  height: 30px;
}
/* Efecto hover para resaltar el botón */
.whatsapp-btn:hover {
  transform: scale(1.1); /* Hace que el botón se agrande un poco cuando pasa el mouse */
}


/* BOTON DE SCROLL*/
/* Estilo para el botón de subir al principio */
.scroll-to-top-btn {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 120px; /* Distancia desde el fondo */
  right: 20px; /* Distancia desde el lado derecho */
  width: 60px; /* Tamaño del botón */
  height: 60px; /* Tamaño del botón */
  border-radius: 50%; /* Hace que sea redondo */
  background-color: #007bff9f; /* Fondo azul */
  color: white; /* Color del icono */
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar efecto flotante */
  z-index: 1000; /* Asegura que el botón quede encima de otros elementos */
  transition: all 0.3s ease; /* Suaviza las transiciones */
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer; /* Cambia el cursor a mano cuando pasa sobre el botón */
  position: fixed;
}
/* Efecto hover para resaltar el botón */
.scroll-to-top-btn:hover {
  transform: scale(1.1); /* Agranda el botón ligeramente cuando se pasa el mouse */
}
/* Estilo para el icono dentro del botón */
.scroll-to-top-btn i {
  font-size: 30px; /* Tamaño del icono */
}
/*----------------------------------------------------*/

article {
  height: 160px
}

.roboto-medium {
  font-weight: 400;
  font-size: 0.8rem;
  font-style: normal;
  color: #b7b110;
}



/* Estilo personalizado para el botón "Ver más productos" */
.btn-view-more {
  background-color: #e91e63; /* Color rosado vibrante */
  color: white;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px; /* Bordes redondeados */
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  text-decoration: none; /* Elimina el subrayado del enlace */
  display: inline-flex;
  align-items: center;
  gap: 10px; /* Espacio entre el texto y el icono */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el botón */
}

.btn-view-more:hover {
  background-color: #d81b60; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de agrandamiento sutil */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

.btn-view-more i {
  font-size: 1.2rem;
}


/* Estilo para las cards */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el agrandamiento y la sombra */
  border: none; /* Eliminamos el borde predeterminado para un look más limpio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil por defecto */
  border-radius: 15px; /* Bordes ligeramente redondeados para suavizar el diseño */
  overflow: hidden; /* Asegura que las imágenes no sobresalgan */
}

/* Efecto al pasar el mouse */
.card:hover {
  transform: scale(1.05); /* Agranda la card un 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

/* Estilo para las imágenes dentro de las cards */
.card-img-top {
  transition: transform 0.3s ease; /* Suaviza el efecto de la imagen */
}

/* Efecto sutil en la imagen al hacer hover */
.card:hover .card-img-top {
  transform: scale(1.05); /* La imagen también se agranda ligeramente */
}


/* Estilo para el botón Lo Quiero */
.btn-whatsapp {
  background-color: #b7b110; /* Color verde de WhatsApp */
  color: white;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
}

/* Efecto al pasar el mouse */
.btn-whatsapp:hover {
  background-color: #db3873; /* Verde más oscuro al pasar el mouse */
  color: #ffffff;
  transform: scale(1.05); /* Agranda ligeramente el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto flotante */
}

.he {
  width: 28rem;
}

.im {
  height: 14rem;
}

.ctext {
  height: rem;
  padding-bottom: 1rem;
}

.tituloc {
  height: 5rem;
  color: #212529;
  font-size: 0.8rem;
}

.card {
  width: 100%;
}

.valor {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.bg-insta {
  background: linear-gradient(to right, #ffba00, #ff0067);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.asd {
  height: 200px;
}

.bgrosado {
  background-color: #f151644f;
  ;
}

.urbanist {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-uniondark {
  background-color: #d93572;
}

.bg-nav {
  background-color: #b5b401;
}

.bg-darkk {
  background-color: rgba(0, 0, 0, 0.301);
  width: 100%;
}

.txt-gris {
  color: #707070;
  font-size: 0.8rem;
}

.item {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.bgfoot {
  background-color: #b76db5;
}

.hp {
  color: black;
}


/*MEDIA QUERYS*/
/* Media query para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .carousel-item {
    height: 300px; /* Ajustamos la altura para vista móvil */
  }
  .navf > img {
    height: 3.5rem;
  }
  .tituloc {
    height: 2.5rem;
    
  }
  .im {
    height: 10rem;
  }
}

@media
/*--------------------------------------------------------*/